<div class="container-fluid">
  <!-- profile picture -->
  <div class = "row">
    <div class = "col-xs=12">
      <img src="{{personal_info.profile_pic}}" class="img-responsive profileImg" alt="Responsive image">
    </div>
  </div>
</div>
  <!-- user information &  -->
<div class="container">
  <div class = "row">
    <div class = "col-md-3" ng-controller="ProfileServiceController">
      <img src="{{personal_info.cover_pic}}"
          alt="" class="userImg img-circle img-responsive">
              <p>{{personal_info.display_name}}</p> 
                <div> <font size="4">Personal Information</font>
                  <br/> 
                  <i class="glyphicon glyphicon-education"></i> 
                  Education
                  <br/>
                   {{personal_info.education}}
                  <br/> 
                  <br/>
                  <i class="glyphicon glyphicon-paperclip"></i> 
                  Working Experience
                  <br/>
                  {{personal_info.experience}}
                  <br/> 
                  <br/>
                  <i class="glyphicon glyphicon-map-marker"></i> 
                  Location
                  <br/>
                  {{personal_info.city.city}}, {{personal_info.city.prov_state}}
                  <br/> 
                  <br/>
              </div>


                <div> <font size="4">Contact Information</font>
                  <br/> 
            <i class="glyphicon glyphicon-envelope"></i> 
            Email
                  <br/> 
                  {{contact_info.email}}
                  <br/>
                  <br/> 
                  <i class="glyphicon glyphicon-globe"></i> 
            Internet
                  <br/> 
                  {{contact_info.website}}
                  <br/>
                  <br/> 
                  <i class="glyphicon glyphicon-phone"></i> 
          Phone number
                  <br/> 
                  {{contact_info.phone}}
                  <br/>
                  <br/> 
              </div>
    </div>

    <div class = "col-md-9">
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="" aria-controls="home" role="tab" data-toggle="tab" ng-click="changeTab('home')">Service</a></li>
            <li role="presentation"><a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="changeTab('profile')">Profile</a></li>
            <li role="presentation"><a href="" aria-controls="reviews" role="tab" data-toggle="tab" ng-click="changeTab('reviews')">Reviews</a></li>
            <li role="presentation"><a href="" aria-controls="settings" role="tab" data-toggle="tab" ng-click="changeTab('settings')">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
<!--           <div role="tabpanel" class="tab-pane active" id="home"></div>
          <div role="tabpanel" class="tab-pane" id="profile"></div>
          <div role="tabpanel" class="tab-pane" id="reviews"></div>
          <div role="tabpanel" class="tab-pane" id="settings"></div> -->

          <profile-home ng-if="tab=='home'" role="tabpanel" class="tab-pane active" id="home" ng-controller="ProfileServiceController"></profile-home>
          <profile-profile ng-if="tab=='profile'" role="tabpanel" class="tab-pane active" id="profile"></profile-profile>
          <profile-reviews ng-if="tab=='reviews'" role="tabpanel" class="tab-pane active" id="reviews" ng-controller="ProfileRatingAndReviewController"></profile-reviews>
          <profile-settings ng-if="tab=='settings'" role="tabpanel" class="tab-pane active" id="settingss"></profile-settings>
        </div>
      </div>
    </div>
  </div>
</div>