<div class = "row panel-content">
  <!-- basic information -->
  <div>
    <p class = "panel-title">About me<p>
    <div> 
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    <hr width= "100%">
  </div>

<!-- General Informaion -->
  <div>
    <p class = "panel-title">General Informaion<p>
    <div class = "row"> 
      <div class = "col-md-6">
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        How often
        <br/> 
        <span class = "panel-data">Part time</span>
        <br/>
        <br/>
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        baby age range
        <br/> 
        <span class = "panel-data">1 - 5 years old</span>
        <br/>
        <br/>
        <i class="glyphicon glyphicon-home"></i> 
        Service locations
        <br/>
        <span class = "panel-data">Babysitter's house only</span>
        <br/>
        <br/>
      </div>
      <div class = "col-md-6">
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        Pick up service
        <br/> 
        <span class = "panel-data">Yes</span>
        <br/>
        <br/>
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        Speaking language
        <br/> 
        <span class = "panel-data">English, Chinese</span>
        <br/>
        <br/>
      </div>
    </div>
    <hr width= "100%">
  </div>


  <!-- price Informaion -->
  <div>
    <p class = "panel-title">Price<p>
    <div class = "row"> 
      <div class = "col-md-6">
        Hourly Rate: <span class = "panel-data">$30 per Baby</span>
        <br/>
        Weekend Hourly Rate: <span class = "panel-data">$40 per Baby</span>
        <br/>
        Security Deposit: <span class = "panel-data">$100</span>
        <br/> 
      </div>
      <div class = "col-md-6">
        20 - 40 hours Discount: <span class = "panel-data">18%</span>
        <br/>
        40 hours above Discount: <span class = "panel-data">30%</span>
        <br/>
      </div>
    </div>
    <hr width= "100%">
  </div>


  <!-- Extra Informaion -->
  <div>
    <p class = "panel-title">Extra information<p>
    <div class = "row"> 
      <div class = "col-md-6">
        <i class="glyphicon glyphicon-tag"></i> 
        <span class = "panel-data">Free parking on premises </span>
        <br/>
        <i class="glyphicon glyphicon-tag"></i> 
        <span class = "panel-data">Wireless Internet</span>
        <br/>
        <i class="glyphicon glyphicon-tag"></i> 
        <span class = "panel-data">Air conditioning</span>
      </div>
      <div class = "col-md-6">
        <i class="glyphicon glyphicon-tag"></i> 
        <span class = "panel-data">Child education</span>
        <br/>
        <i class="glyphicon glyphicon-tag"></i> 
        <span class = "panel-data">Meal service</span>
        <br/>
      </div>
    </div>
    <hr width= "100%">
  </div>

  <!-- basic information -->
  <div>
    <p class = "panel-title">Babysitter's policy<p>
    <div> 
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    <hr width= "100%">
  </div>

</div>