<!DOCTYPE html>
<html>
<head>
<title>Profile page</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="../css/style.css">

<!-- jquery -->
<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="../js/bootstrap.js"></script>

<!-- rating -->
<script type="text/javascript" src="../js/rating.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- profile picture -->
		<div class = "row">
			<div class = "col-xs=12">
				<img src="../img/profile1.png" class="img-responsive profileImg" alt="Responsive image">
			</div>
		</div>
		<!-- information window, payment service -->
		<div class = "row">
			<div class = "col-md-4">
				<img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
            alt="" class="userImg img-circle img-responsive">
            	<blockquote>
                <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                <br
                /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974</p>

			</div>
			<div class = "col-md-8">
				<!-- Nav tabs -->
				<div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div role="tabpanel" class="tab-pane" id="profile">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                        <div role="tabpanel" class="tab-pane" id="reviews">
                        	<div class = "row">
                        		<div class = "col-md-4">
                        			<p>Great babysitter</p>
                        		</div>
                        		<div class = "col-md-3">
                        			<div class="row lead">
        								<div id="hearts" class="starrr"></div> 
        								You gave a rating of <span id="count">0</span> star(s)
									</div>
                        		</div>
                        		<div class = "col-md-5">               						
                        			<p font size="3"  color="grey">Post by Richard on 2016, Dec, 21st</p>
	                        	</div>
	                        	<div class = "col-md-12">
	                        	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	                        	</div>
	                        </div>
	                        <div class = "row">
	                        	<div class = "col-md-7"> 
	                        	</div>
	                        	<div class = "col-md-5">               						
	                        		<p font size="3"  color="grey">Post by Richard on 2016, Dec, 21st</p>
	                        	</div>
	                        	<div class = "col-md-12">
	                        	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	                        	</div>
	                        </div>

                    	</div>
                        <div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>