<div class = "row panel-content">
  <!-- basic information -->
  <div>
    <p class = "panel-title">About me<p>
    <div>
      {{profile.service.about}}
    </div>
    <hr width= "100%">
  </div>

<!-- General Informaion -->
  <div>
    <p class = "panel-title">General Information<p>
    <div class = "row"> 
      <div class = "col-md-6">
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        How often
        <br/> 
        <span class = "panel-data">{{general_info.sitter_status}}</span>
        <br/>
        <br/>
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        Baby age range
        <br/> 
        <span class = "panel-data">{{general_info.age_range}}</span>
        <br/>
        <br/>
        <i class="glyphicon glyphicon-home"></i> 
        Service locations
        <br/>
        <span class = "panel-data">{{general_info.service_location}}</span>
        <br/>
        <br/>
      </div>
      <div class = "col-md-6">
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        Pick up service
        <br/> 
        <span class = "panel-data">{{general_info.pickup}}</span>
        <br/>
        <br/>
        <i class="glyphicon glyphicon glyphicon-time"></i> 
        Speaking language
        <br/> 
        <span class = "panel-data">{{languages}}</span>
        <br/>
        <br/>
      </div>
    </div>
    <hr width= "100%">
  </div>


  <!-- price Informaion -->
  <div>
    <p class = "panel-title">Price
    <p>
    <div class = "row">
      <div class = "col-md-6">
        Hourly Rate: <span class = "panel-data">${{price.weekday_hourly}} per Baby</span>
        <br/>
        Weekend Hourly Rate: <span class = "panel-data">${{price.weekend_hourly}} per Baby</span>
        <br/>
      </div>
      <div class = "col-md-6">
        Security Deposit: <span class = "panel-data">${{price.security_deposit}}</span>
        <br/> 
      </div>
    </div>
    <hr width= "100%">
  </div>


  <!-- Extra Informaion -->
  <div>
    <p class = "panel-title">Extra information<p>
    <div class = "row"> 
<!--       <div ng-repeat="(key, value) in extra" class="col-md-6">
        <div ng-if="1">
          <i class="glyphicon glyphicon-tag"></i>
          <span class = "panel-data">Free parking on premises</span>
        </div>
      </div> -->
      <div class = "col-md-6">
        <i class="glyphicon glyphicon-tag"></i> 
        <span ng-if="extra.free_parking" class = "panel-data">Free parking on premises</span>
        <span ng-if="!extra.free_parking" class = "panel-data"><del> Free parking on premises</del></span>
        <br/>
        <i class="glyphicon glyphicon-tag"></i> 
        <span ng-if="extra.wireless_internet" class = "panel-data">Wireless Internet</span>
        <span ng-if="!extra.wireless_internet" class = "panel-data"><del>Wireless Internet</del></span>
        <br/>
        <i class="glyphicon glyphicon-tag"></i> 
        <span ng-if="extra.air_condition" class = "panel-data">Air conditioning</span>
        <span ng-if="!extra.air_condition" class = "panel-data"><del>Air conditioning</del></span>
      </div>
      <div class = "col-md-6">
        <i class="glyphicon glyphicon-tag"></i> 
        <span ng-if="extra.child_education" class = "panel-data">Child education</span>
        <span ng-if="!extra.child_education" class = "panel-data"><del>Child education</del></span>
        <br/>
        <i class="glyphicon glyphicon-tag"></i> 
        <span ng-if="extra.meal" class = "panel-data">Meal service</span>
        <span ng-if="!extra.meal" class = "panel-data"><del>Meal service</del></span>
        <br/>
      </div>
    </div>
    <hr width= "100%">
  </div>

  <!-- basic information -->
  <div>
    <p class = "panel-title">Babysitter's policy<p>
    <div> 
      {{policy}}
    </div>
    <hr width= "100%">
  </div>

</div>