<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Babysitter App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body ng-app="mainApp">
  
    <ng-view>
  
    <!-- angular modules -->
    <script type="text/javascript" src="http://code.angularjs.org/1.5.3/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.5.3/angular-route.js"></script>

    <!-- jquery -->
    <script type="text/javascript" src="static/js/jquery-3.1.0.min.js"></script>

    <!-- map library -->
    <script type="text/javascript" src="static/js/info-window.js"></script> 
    <script type="text/javascript" src="static/js/map.js"></script>   
    <script src="static/js/google-marker-clusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3xxYrQTk4eCQajHxacHVlcR9QXvpr1uM&libraries=places"></script>

    <!-- angular imported modules -->
    <script type="text/javascript" src="http://code.angularjs.org/1.5.3/angular-cookies.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
    <script type="text/javascript" src="static/js/apps/ui-bootstrap-tpls-2.4.0.js"></script>
    
    <!-- angular custom modules -->
    <script type="text/javascript" src="static/js/controllers/authControllers.js"></script>
    <script type="text/javascript" src="static/js/apps/authApp.js"></script>
    <script type="text/javascript" src="static/js/controllers/profileControllers.js"></script>
    <script type="text/javascript" src="static/js/apps/profileApp.js"></script>
    <script type="text/javascript" src="static/js/controllers/paymentControllers.js"></script>
    <script type="text/javascript" src="static/js/apps/paymentApp.js"></script>
    <script type="text/javascript" src="static/js/controllers/calendarControllers.js"></script>
    <script type="text/javascript" src="static/js/apps/calendarApp.js"></script>

    <!-- main angular app -->
    <script type="text/javascript" src="static/js/mainControllers.js"></script>
    <script type="text/javascript" src="static/js/mainApp.js"></script>
    <script type="text/javascript" src="static/js/appRoutes.js"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="static/js/bootstrap.js"></script>

    <script type="text/javascript" src="static/js/review-form.js"></script>
  </body>
</html>
