<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Babysitter App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

    <!-- angular modules -->
    <script type="text/javascript" src="http://code.angularjs.org/1.5.3/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.5.3/angular-route.js"></script>

    <!-- map library -->
    <script type="text/javascript" src="static/js/info-window.js"></script> 
    <script type="text/javascript" src="static/js/map.js"></script>   
    <script src="static/js/google-marker-clusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3xxYrQTk4eCQajHxacHVlcR9QXvpr1uM&libraries=places"></script>

    <!-- angular map app -->
    <script src="http://code.angularjs.org/1.5.3/angular-cookies.js"></script>
    <script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
    <script type="text/javascript" src="static/js/authApp.js"></script>
    <script type="text/javascript" src="static/js/authControllers.js"></script>
    <script type="text/javascript" src="static/js/angular-map.js"></script>

    <!-- jquery -->
    <script type="text/javascript" src="static/js/jquery-3.1.0.min.js"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
  </head>

  <body ng-app="GMapsApp" ng-controller="MapCtrl">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <form class="navbar-form navbar-left">
            <select ng-model="cityProfile" class="form-control"  id="selectCity"  ng-options="city.city for city in cities" ng-change="changeCity()"> 
                <option value="">Search By City</option>
            </select>
          </form>
          <ul class="nav navbar-nav navbar-right" ng-controller="AuthNavbarController">
            <li ng-if="!currentUser"><a href="/#/signup">Signup</a></li>
            <li ng-if="!currentUser"><a href="/#/login">Login</a></li>
            <li ng-if="currentUser"><a href="/#/dashboard">{{ currentUser.username }}</a></li>
            <li ng-if="currentUser" ng-controller="LogoutController"><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- /Fixed navbar -->
  
    <ng-view>
  
  </body>
</html>
