<html><head>
      <title>Profile page</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/style.css">
      <!-- jquery -->
      <script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
      <!-- bootstrap -->
      <script type="text/javascript" src="../../js/bootstrap.js"></script>
      <!-- rating -->
      <script type="text/javascript" src="../../js/rating.js"></script>
      <script type="text/javascript" src="../../js/review-form.js"></script>
   </head>
   <body>
      <!-- user information &  -->
      <div class="container">
         <div class="nav-bar-margin row">
            <div class = "col-md-1"></div>
            <div class="side-bar col-md-2">
               <p> <a href="">Edit profile </a></p>
               <p> <a href="">Time availability</a></p>
               <p> <a href="">Payment system </a></p>
               <p> <a href="">Reset the password</a></p>
               <p> <a href="">view profile</a></p>
            </div>
            <div class="col-md-8">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     Edit the profile
                  </div>
                  <div class="panel-body">
                     <form>
                        <br>
                        <label for="exampleInputEmail1"><font size="5">Search by Name</font></label>
                        </br>
                        </br>
                        <div class="row">
                           <div class="form-group col-md-12">
                           <nav class="navbar">
                                <div class="nav nav-justified navbar-nav">
                                    <form class="navbar-form navbar-search" role="search">
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                        
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-search btn-info">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                    <span class="label-icon">Search</span>
                                                </button>
                                            </div>
                                        </div>  
                                    </form>   
                                </div>
                           </nav>
                           </div>
                        </div>
                        <div class="row col-md-12">
                           <table class="table table-list-search">
                             <thead>
                                 <tr>
                                     <th>Name</th>
                                     <th>Username</th>
                                     <th>City</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>Chuanrui</td>
                                     <td>123rr</td>
                                     <td>Toronto</td>
                                 </tr>
                                 <tr>
                                     <td>Chuanrui</td>
                                     <td>345rrrr</td>
                                     <td>New York</td>
                                 </tr>
                                 <tr>
                                     <td>Chuanrui</td>
                                     <td>567jjjj</td>
                                     <td>San Francisco</td>
                                 </tr>
                             </tbody>
                           </table>   
                        </div>
                        </br>
                        <hr width="100%">
                        <br>
                        <br>
                        <div class="row">
                           <div class = "col-md-12">
                              <label for="exampleInputEmail1"><font size="5">Search by options</font></label>
                              </br>
                              </br>
                              <label>Rating</label>
                              </br>
                              <label class="radio-inline"><input type="radio" name="optradio">No selection</label>
                              <label class="radio-inline"><input type="radio" name="optradio">Rating 1</label>
                              <label class="radio-inline"><input type="radio" name="optradio">Rating 2</label>
                              <label class="radio-inline"><input type="radio" name="optradio">Rating 3</label>
                              <label class="radio-inline"><input type="radio" name="optradio">Option 4</label>
                              <label class="radio-inline"><input type="radio" name="optradio">Option 4</label>
                              </br>
                              </br>
                              <label>Distance(km)</label>
                              </br>
                              <label class="radio-inline"><input type="radio" name="optradio1">No selection</label>
                              <label class="radio-inline"><input type="radio" name="optradio1">less than 1km</label>
                              <label class="radio-inline"><input type="radio" name="optradio1">1 - 5km</label>
                              <label class="radio-inline"><input type="radio" name="optradio1">5 - 10km</label>
                              <label class="radio-inline"><input type="radio" name="optradio1">10 - 50km</label>
                              <label class="radio-inline"><input type="radio" name="optradio1">greater than 50km</label>
                              </br>
                              </br>
                              <label>Price(hourly)</label>
                              </br>
                              <label class="radio-inline"><input type="radio" name="optradio2">No selection</label>
                              <label class="radio-inline"><input type="radio" name="optradio2">Under $20</label>
                              <label class="radio-inline"><input type="radio" name="optradio2">$20 - $30</label>
                              <label class="radio-inline"><input type="radio" name="optradio2">$30 - $40</label>
                              <label class="radio-inline"><input type="radio" name="optradio2">greater than $40</label>
                              </br>
                              </br>
                              <button type="button" class="btn btn-search btn-info">
                                  <span class="glyphicon glyphicon-search"></span>
                                  <span class="label-icon">Search</span>
                              </button>

                              </br>
                              </br>
                              </br>
                              <div class="row col-md-12">
                                 <table class="table table-list-search">
                                   <thead>
                                       <tr>
                                           <th>Name</th>
                                           <th>Username</th>
                                           <th>City</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td>Chuanrui</td>
                                           <td>123rr</td>
                                           <td>Toronto</td>
                                       </tr>
                                       <tr>
                                           <td>Chuanrui</td>
                                           <td>345rrrr</td>
                                           <td>New York</td>
                                       </tr>
                                       <tr>
                                           <td>Chuanrui</td>
                                           <td>567jjjj</td>
                                           <td>San Francisco</td>
                                       </tr>
                                   </tbody>
                                 </table>   
                              </div>

                           </div>
                        </div>
                        <br>
                     </form>
                  </div>
               </div>
            </div>
            <div class = "col-md-1"></div>
         </div>
      </div>
   
</body></html>