<!DOCTYPE html>
<html>
   <head>
      <title>Profile page</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/style.css">
      <!-- jquery -->
      <script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
      <!-- bootstrap -->
      <script type="text/javascript" src="../../js/bootstrap.js"></script>
      <!-- rating -->
      <script type="text/javascript" src="../../js/rating.js"></script>
      <script type="text/javascript" src="../../js/review-form.js"></script>
   </head>
   <body>
      <!-- user information &  -->
      <div class="container">
         <div class = "nav-bar-margin row">
            <div class = "col-md-3">
               <p>Edit profile</p>
               <p>Upload picture</p>
               <p>Time availability</p>
               <p>Payment system</p>
               <p>Reset the password</p>
               <p>view profile</p>
            </div>
            <div class = "col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     Reset the password
                  </div>
                  <div class="panel-body">
                     <form>
                        <div class = "row">
                           <div class = "col-md-4">
                              <strong>Connect my payment account:</strong>
                           </div>
                        </div>
                        </br>
                        <button type="submit" class="btn btn-primary">Hi Stripe</button>
                        </br>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>