<div class = "col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading">
         Payment System
      </div>
      <div class="panel-body">
         <form>
            <div class = "row">
               <div class = "col-md-4">
                  <strong>Connect my payment account:</strong>
               </div>
            </div>
            </br>
            <button type="submit" class="btn btn-primary">My Stripe</button>
            </br>
         </form>
      </div>
   </div>
</div>