<!-- <div class = "col-md-9" ng-controller="UserProfilePasswordController"> -->
<div class = "col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading">
         Reset the password
      </div>
      <div class="panel-body">
         <form>
            <div class = "row">
               <div class = "col-md-4 push-left">
                  <div class="form-group">
                     <label>Enter your old password</label>
                     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                  </div>
               </div>
            </div>
            <div class = "row">
               <div class = "col-md-4  push-left">
                  <div class="form-group">
                     <label>Enter your new password</label>
                     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                  </div>
               </div>
            </div>
            <div class = "row">
               <div class = "col-md-4  push-left">
                  <div class="form-group">
                     <label>Confirm your new password</label>
                     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                  </div>
               </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>
   </div>
</div>