<!DOCTYPE html>
<html>
   <head>
      <title>Profile page</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <!-- jquery -->
      <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
      <!-- bootstrap -->
      <script type="text/javascript" src="../js/bootstrap.js"></script>
      <!-- rating -->
      <script type="text/javascript" src="../js/rating.js"></script>
      <script type="text/javascript" src="../js/review-form.js"></script>
   </head>
   <body>
      <!-- user information &  -->
      <div class="container">
         <div class = "row">
            <div class = "col-md-3">
               <p>Edit profile</p>
               <p>Upload picture</p>
               <p>Time availability</p>
               <p>Payment system</p>
               <p>Reset the password</p>
               <p>view profile</p>
            </div>
            <div class = "col-md-9">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     Edit the profile
                  </div>
                  <div class="panel-body">
                     <form>
                        </br>
                        <label for="exampleInputEmail1">Personal information</label>
                        </br>
                        <div class = "row">
                           <div class="form-group col-md-3">
                              <p>Education</p>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                           </div>
                           <div class="form-group col-md-3">
                              <p>Working Experience</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                           <div class="form-group col-md-3">
                              <p>Address</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                           <div class="form-group col-md-3">
                              <p>Gender</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                        </div>
                        </br>
                        <hr width= "100%">
                        </br>
                        </br>
                        <label for="exampleInputEmail1">Contact Information</label>
                        </br>
                        <div class = "row">
                           <div class="form-group col-md-4">
                              <p>Email</p>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                           </div>
                           <div class="form-group col-md-4">
                              <p>Internet</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                           <div class="form-group col-md-4">
                              <p>Phone number</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                        </div>
                        </br>
                        <hr width= "100%">
                        </br>
                        <div class="form-group">
                           <label for="exampleTextarea">About me</label>
                           <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        </br>
                        <hr width= "100%">
                        </br>
                        </br>
                        <label for="exampleInputEmail1">General information</label>
                        </br>
                        <div class = "row">
                           <div class="form-group col-md-4">
                              <p>How often</p>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                           </div>
                           <div class="form-group col-md-4">
                              <p> baby age range  </p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                           <div class="form-group col-md-4">
                              <p>Service locations </p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                        </div>
                        <div class = "row">
                           <div class="form-group col-md-4">
                              <p>Pick up service </p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                           <div class="form-group col-md-4">
                              <p>Speaking language</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                        </div>
                        </br>
                        <hr width= "100%">
                        </br>
                        <label for="exampleInputEmail1">Price</label>
                        </br>
                        <div class = "row">
                           <div class="form-group col-md-4">
                              <p>Hourly Rate </p>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="per hour"> 
                           </div>
                           <div class="form-group col-md-4">
                              <p>Weekend Hourly Rate</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="per hour">
                           </div>
                           <div class="form-group col-md-4">
                              <p>Security Deposit</p>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                        </div>
                        </br>
                        <hr width= "100%">
                        </br>
                        <label for="exampleInputEmail1">Extra Information</label>
                        </br>
                        <div class="form-group">
                           <div class = "row">
                              <div class="col-md-4">
                                 <label class="form-check-label">
                                 <input type="checkbox" class="form-check-input">
                                 Free parking on premises 
                                 </label>
                              </div>
                              <div class="col-md-4">   
                                 <label class="form-check-label">
                                 <input type="checkbox" class="form-check-input">
                                 Child education 
                                 </label>
                              </div>
                              <div class="col-md-4">
                                 <label class="form-check-label">
                                 <input type="checkbox" class="form-check-input">
                                 Wireless Internet 
                                 </label>
                              </div>
                           </div>
                           <div class = "row">
                              <div class="col-md-4">
                                 <label class="form-check-label">
                                 <input type="checkbox" class="form-check-input">
                                 Air conditioning
                                 </label>
                              </div>
                              <div class="col-md-4">
                                 <label class="form-check-label">
                                 <input type="checkbox" class="form-check-input">
                                 Meal service 
                                 </label>
                              </div>
                           </div>
                        </div>
                        </br>
                        <hr width= "100%">
                        <div class="form-group">
                           <label for="exampleTextarea">Policy</label>
                           <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                        </br>
                        <hr width= "100%">
                        </br>
                        <div class="form-group">
                           <label for="exampleInputFile">Cover Image Upload</label>
                           <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                           <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </div>
                        <div class="form-group">
                           <label for="exampleInputFile">Profile Image Upload</label>
                           <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                           <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>